#page .container,
#page {
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
table {
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  width: 100%;
  height: 300px;
  border-collapse: separate;
  border-spacing: 2px;
  background: #a2075c;
  color: #fbf9fa;
  justify-content: center;
}
body {
  background-color: #f9accf;
}
#form {
  border-color: #a2075c;
  border-radius: 50px;
}

#one {
  background: #fd65b4;
}

#hat {
  background: #a2075c;
  text-align: center;
  padding: 10px;
  color: #a2075c;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gill Sans";
}

nav {
  border: 5px;
  width: 100%;
  text-align: right;
}

nav li {
  display: inline;
  font-size: 20px;
}
.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #a2075c;
  text-align: center;
}
nav a {
  color: #fe90e4;
  text-decoration: none;
  display: inline-block;
}
nav a:hover {
  border-radius: 10px;
  background-color: #c40a6a;
  text-align: center;
}
h1 {
  font-size: 30px;
  text-align: right;
  color: #fbf9fa;
  font-family: "Kalam", cursive;
}
h2 {
  color: hsl(0, 0%, 0%);
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(50%, -40%);
  background-color: #f9accf;
}
a {
  text-decoration: none;
  color: #000000;
}
.block {
  max-width: 900px;
  background-color: #f9accf;
  max-width: 100%;
  border: 3px #a2075c solid;
  border-radius: 50px;
  position: relative;
}
.block_table > div {
  border-radius: 50px;
  /* padding: 7%; */
}
.block_table > div > div {
  overflow-x: auto;
}

.page :nth-child(4) {
  order: 4;
}

.page :nth-child(1) {
  order: 1;
}

.page :nth-child(2) {
  order: -1;
}

.page :nth-child(3) {
  order: 2;
}

.rec {
  order: -1;
}

label {
  width: 100%;
}
input:not(.nw),
textarea,
select {
  width: 100%;
  padding: 8px 6px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px #aaa solid;
}
textarea {
  height: 140px;
}
input[type="submit"] {
  margin-top: 30px;
  max-width: 100%;
  border: 3px #a2075c solid;
}

@media screen and (min-width: 800px) and (orientation: landscape) {
  .headerblock {
    flex-direction: row;
  }
  .table {
    order: -1;
  }
  .links {
    flex-direction: row;
  }
  .page :nth-child(3) {
    order: 3;
  }
  .page :nth-child(2) {
    order: 2;
  }
  .form {
    width: 100%;
  }
  .container {
    display: inline-flex !important;
    align-items: center;
  }
  .rec {
    order: 0;
  }
}
